<div style="text-align:center">
  <p style="font-family:sans-serif; font-size:20px">회원가입</p>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin"},multipart: true) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autocomplete: "off", class: "form-control",:required => true %>
  </div>
  
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autocomplete: "off", class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :living_region %><br />
      <%= f.select :living_region, options_for_select(["Select One", "서울/경기", "인천", "충청도", "경상도", "전라도", "강원도", "제주도"],:disabled => ["Select One"]), class: "form-control" %>
  </div>
  

  
  <!--프로필사진-->
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-lg btn-block btn-default"  %>
  </div><br>
  <div>
    <center><%= render "devise/shared/links" %></center>
  </div>

<% end %>
