<script>//지도에 쓰는 변수 만들기
  var defaultCenter = new google.maps.LatLng(37.557531, 127.044287);
  var mapProp;
  var map;
  var labmarkers = [];
  var current_marker;
  var pos;
  var ori;
  var des;
</script>

<script>//현재위치 아이콘 변수 만들기
  var cur_img = ['b01','b02','b03','b04','b05','b06','b07','b08','b09','b10',
                 'g01','g02','g03','g04','g05','g06','g07','g08','g09','g10'];
  var img = 'current/' + cur_img[Math.floor(Math.random() * cur_img.length)] + '.png';
</script>


<script>//시험장 db 데이터 불러와서 배열 저장
  var x;
  var lab_data = [];
  <% @lab_db.each do |x| %>
    lab_data.push(['<%= x.name %>',
                   '<%= x.address %>',
                   {lat:<%= x.position_lat %>, lng:<%= x.position_lng %>}, 
                   <%= x.id %>,
                   <%= x.review_point %>,
                   '<%= x.region_code %>']);
  <% end %>
</script>
<script>
</script>

<script>//별점 데이터 변수 만들기
  var point_array = <%= @point_array %>;
  var star = [];
  for (i=0; i<lab_data.length; i++) {
      for (j=1; j<6; j++) {
        if (j == point_array[i]) {
          star[i] += '<i class="on"></i>';
        } else {
          star[i] += '<i></i>';
        }
      }
  }
</script>

<script>//초기 지도 부르기
  function initMap() {
    mapProp = {
      center: defaultCenter,
      zoom: 14,
      disableDefaultUI: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map'), mapProp);
    
   if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        
        $(function() {
          var i = pos.lat;
          var j = pos.lng;
          console.log(i);
          console.log(j);
          $('#pos_lat').val(i);
          $('#pos_lng').val(j);
        });
        
        map.setCenter(pos);
        map.setZoom(14);
        
        current_marker = new google.maps.Marker({
          map: map,
          position: pos,
          title: '현재 위치',
          icon: img,
          animation: google.maps.Animation.BOUNCE
        });
        addinfocurrent(current_marker, '현재 위치');
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    }
    
    pinlabmarkers();
        
    
    for (i=0; i<lab_data.length; i++) {
      addinfoclick(labmarkers[i]);
      addinfoinout(labmarkers[i], 
                   '<p style="font-size:25px;"><b>'+lab_data[i][0]+'</b></p>'
                    +'<p>'+lab_data[i][1]+'</p>'
                    +'<span class="star-rating small">'
                    +star[i]
                    +'</span>&nbsp;'
                    +'<span stype="font-size:13px;">&nbsp;'+lab_data[i][4]+' 점</span>'
                    +'&nbsp;&nbsp;<a href="/home/labreview/'+lab_data[i][3]+'">자세히 보기</a><br>'
                    +'<a style="padding-top:5px;">'
                    +'</a>');
    };
    
  } //initMap
</script>

<script>//지도 중심좌표 및 줌 변경
  function secondCall(center, zoom) {
    map.setCenter(center);
    map.setZoom(zoom);
  }
</script>

<script>
  function pinlabmarkers() {
    for (var i = 0; i < lab_data.length; i++) {
      labmarkers.push(new google.maps.Marker({
        map: map,
        position: lab_data[i][2],
        title: lab_data[i][0],
        icon: 'map_marker32.png',
        animation: google.maps.Animation.DROP
      }));
    }
  } //pinlabmarkers
</script>

<script>
  function addinfoclick(marker) {
    marker.addListener('click', function() {
      var ex = marker.position;
      ori = String(ex.G)+','+String(ex.K);
      console.log(ori);
    });
    marker.addListener('rightclick', function() {
      var ex = marker.position;
      des = String(ex.G)+','+String(ex.K);
      console.log(des);
    });
  } //addinfoclick
</script>


<script>
  function addinfoinout(marker, text) {
    var info = new google.maps.InfoWindow({
      content: text
    });
    marker.addListener('mouseover', function() {
      info.open(marker.get('map'), marker);
    });
    marker.addListener('mouseout', function() {
        setTimeout(function() {
          info.close();
        }, 1700);
    });
  }
</script>

<script>
  function addinfocurrent(marker, text) {
    var curinfo = new google.maps.InfoWindow({
      content: text
    });
    marker.addListener('click', function() {
      curinfo.open(marker.get('map'), marker);
    });
    marker.addListener('rightclick', function() {
      curinfo.close();
    });
    marker.addListener('dblclick', function() {
      curinfo.close();
    });
  };
</script>

<script>
  google.maps.event.addDomListener(window, 'load', initMap);
</script>

<script>//lat1, lon1, lat2, lon2
  function getDistance(lat1, lng1 ,lat2, lng2) {
    var R = 6371; // Radius of the earth in km
    var dLat = deg2rad(Number(lat2)-Number(lat1));  // deg2rad below
    var dLon = deg2rad(Number(lng2)-Number(lng1)); 
    var a = 
      Math.sin(dLat/2) * Math.sin(dLat/2) +
      Math.cos(deg2rad(Number(lat1))) * Math.cos(deg2rad(Number(lat2))) * 
      Math.sin(dLon/2) * Math.sin(dLon/2)
      ; 
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
    var d = R * c; // Distance in km
    return d;
  }
  
  function deg2rad(deg) {
    return deg * (Math.PI/180)
  }
</script>

<script>
  var pos_lat;
  var pos_lng;
  var distances = [];
  var sorted_lab = [];
</script>

<script>
  $(function() {
    $('#near_by').click(function() {
      pos_lat = Number($('#pos_lat').val());
      pos_lng = Number($('#pos_lng').val());
      var d;
      for (i=0; i<lab_data.length; i++) {
        d = getDistance(pos_lat, pos_lng, lab_data[i][2].lat, lab_data[i][2].lng).toFixed(2);
        distances.push({distance:d, index:i});
      };
      distances.sort(function(a,b) {
        return a.distance - b.distance;
      });
      
      var ind;
      for (i=0; i<5; i++) {
        ind = distances[i].index;
        sorted_lab.push('<p style="font-size:13px">'
                        +lab_data[ind][0]
                        +'<span style="font-size:11px;">('
                        +distances[i].distance
                        +'km)</span></p>'
                        +'<p style="margin-top:-5px; padding-bottom:15px;">평점 : '+lab_data[ind][4]+'점</p>'
                        +'<input id="loca_lat'+i+'" type=\"hidden\" value="'+lab_data[ind][2].lat+'">'
                        +'<input id="loca_lng'+i+'" type=\"hidden\" value="'+lab_data[ind][2].lng+'">');
      };
      for (i=0; i<5; i++) {
        document.getElementById('sorted_'+i).innerHTML = sorted_lab[i];
      };
    });
  });
</script>

<script>
  $(function() {
    var center;
    $('#sorted_0').click(function() {
      center = new google.maps.LatLng($('#loca_lat0').val(), $('#loca_lng0').val());
      console.log(center);
      secondCall(center, 15);
    });
    $('#sorted_1').click(function() {
      center = new google.maps.LatLng($('#loca_lat1').val(), $('#loca_lng1').val());
      console.log(center);
      secondCall(center, 15);
    });
    $('#sorted_2').click(function() {
      center = new google.maps.LatLng($('#loca_lat2').val(), $('#loca_lng2').val());
      console.log(center);
      secondCall(center, 15);
    });
    $('#sorted_3').click(function() {
      center = new google.maps.LatLng($('#loca_lat3').val(), $('#loca_lng3').val());
      console.log(center);
      secondCall(center, 15);
    });
    $('#sorted_4').click(function() {
      center = new google.maps.LatLng($('#loca_lat4').val(), $('#loca_lng4').val());
      console.log(center);
      secondCall(center, 15);
    });
  });
</script>

<script>
  $(function() {
    document.getElementById('convert').innerHTML='<div class="nav_icon" id="map_menu" style="cursor:pointer;"><img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/location-24-32.png"><p style="padding-top:5px;"><b>MAP</b></p></div>'
  });
</script>

<script>
  $(function() {
    $('#map_menu').click(function() {
      $('.convert').toggleClass('active');
      $('.map_drawer').toggle('slide', 200);
    });
  });
</script>
<script>
  $(function() {
    $('#near_by').click(function() {
      $('#near_list').toggle('slide',200);
      $('#lab_list').hide();
    });
  });
</script>
<script>
  $(function() {
    $('#lab_list_button').click(function() {
      $('#lab_list').toggle('slide',200);
      $('#near_list').hide();
    });
  });
</script>

<script>
  var lat = [];
  var lng = [];
  var region_center;
  $(function() {
    for (i=1; i<8; i++) {
      lat.push(Number($('#region_0'+i+'_lat').val()));
      lng.push(Number($('#region_0'+i+'_lng').val()));
    };
    $('#region_01').click(function() {
      region_center = new google.maps.LatLng(lat[0], lng[0]);
      secondCall(region_center, 11);
    });
    $('#region_02').click(function() {
      region_center = new google.maps.LatLng(lat[1], lng[1]);
      secondCall(region_center, 12);
    });
    $('#region_03').click(function() {
      region_center = new google.maps.LatLng(lat[2], lng[2]);
      secondCall(region_center, 9);
    });
    $('#region_04').click(function() {
      region_center = new google.maps.LatLng(lat[3], lng[3]);
      secondCall(region_center, 9);
    });
    $('#region_05').click(function() {
      region_center = new google.maps.LatLng(lat[4], lng[4]);
      secondCall(region_center, 9);
    });
    $('#region_06').click(function() {
      region_center = new google.maps.LatLng(lat[5], lng[5]);
      secondCall(region_center, 9);
    });
    $('#region_07').click(function() {
      region_center = new google.maps.LatLng(lat[6], lng[6]);
      secondCall(region_center, 11);
    });
  });
</script>

<div class="map_drawer" id="map_drawer">
  <div style="padding-top:50px;">
    <div style="padding-bottom:10px; border-bottom: 3px solid;">
      <h5 style="color:#FF007F">시험장찾기</h5>
    </div>
    <div style="height: 5px; border-bottom: 2px dashed; margin-bottom: 10px;">
    </div>
    <table style="width:100%">
      <tr>
        <td class="td_bottom">
          <div class="near_by" id="near_by">
            <p style="font-size:15px; padding-bottom:10px;">가까운 시험장</p>
          </div>
        </td>
      </tr>
    </table>
    <table id="near_list" style="display:none; position:relative; width:100%;">
      <tr>
        <td>
          <table style="width:100%;">
            <tr>
              <td>
                <div id="sorted_0" style="cursor:pointer; padding-top:10px;">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div id="sorted_1" style="cursor:pointer; padding-top:10px;">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div id="sorted_2" style="cursor:pointer; padding-top:10px;">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div id="sorted_3" style="cursor:pointer; padding-top:10px;">
                </div>
              </td>
            </tr>
            <tr>
              <td class="td_bottom">
                <div id="sorted_4" style="cursor:pointer; padding-top:10px;">
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table style="width:100%;">
      <tr>
        <td class="td_bottom">
          <p class="lab_list_button" id="lab_list_button" style="font-size:15px;padding-top:10px;padding-bottom:10px;">지역별 시험장</p>
        </td>
      </tr>
    </table>
    <table id="lab_list" style="display:none; position:relative; width:100%">
      <tr>
        <td>
          <table style="width:100%;">
            <tr>
              <td>
                <p id="region_01">서울 / 경기</p>
                <input type="hidden" id="region_01_lat" value="37.556595">
                <input type="hidden" id="region_01_lng" value="127.020383">
              </td>
            </tr>
            <tr>
              <td>
                <p id="region_02">인천</p>
                <input type="hidden" id="region_02_lat" value="37.469359">
                <input type="hidden" id="region_02_lng" value="126.713395">
              </td>
            </tr>
            <tr>
              <td>
                <p id="region_03">충청도</p>
                <input type="hidden" id="region_03_lat" value="36.723031">
                <input type="hidden" id="region_03_lng" value="127.324632">
              </td>
            </tr>
            <tr>
              <td>
                <p id="region_04">경상도</p>
                <input type="hidden" id="region_04_lat" value="35.899183">
                <input type="hidden" id="region_04_lng" value="128.709929">
              </td>
            </tr>
            <tr>
              <td>
                <p id="region_05">전라도</p>
                <input type="hidden" id="region_05_lat" value="35.534490">
                <input type="hidden" id="region_05_lng" value="127.115866">
              </td>
            </tr>
            <tr>
              <td>
                <p id="region_06">강원도</p>
                <input type="hidden" id="region_06_lat" value="37.509643">
                <input type="hidden" id="region_06_lng" value="128.532281">
              </td>
            </tr>
            <tr>
              <td class="td_bottom">
                <p id="region_07">제주도</p>
                <input type="hidden" id="region_07_lat" value="33.381499">
                <input type="hidden" id="region_07_lng" value="126.555735">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table style="width:100%;">
      <tr>
        <td class="td_bottom">
          <div>
            <p style="font-size:15px;padding-top:10px;padding-bottom:10px;">길찾기</p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<input type="hidden" id="pos_lat">
<input type="hidden" id="pos_lng">
<!-- 지도 div 입니다 id 말고 다 건드려도 됨-->
  <div id="map" style="width:100%; height:100%;"></div>