<%region={"01"=>"서울/경기","02"=>"인천","03"=>"충청도","04"=>"경상도","05"=>"전라도","06"=>"강원도","07"=>"제주도"}%>
<script>
$(".alert").addClass("in").fadeOut(4500);

/* swap open/close side menu icons */
$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-down");
}); 
</script>

<script>
  $(function() {
    document.getElementById('over_convert').innerHTML='<a href="/home/labreview" style="text-decoration:none;color:black;">'
                                                     +'<div class="convert2" id="convert2"'
                                                     +'style="box-shadow: inset 0px 0px 10px #8C8C8C;">'
                                                     +'<div class="nav_icon_review" id="review_menu"'
                                                     +'style="cursor:pointer;">'
                                                     +'<img src="https://cdn0.iconfinder.com/data/icons/layout-and-location/24/Untitled-2-21-24.png">'
                                                     +'<p style="padding-top: 5px; font-size:12px;"><b>REVIEW</b></p></div></div></a>'
    
    // 댓글달아도 모달 유지
  // $( "form" ).submit(function( event ) {
  //     event.preventDefault();
  //   });
  // $('.modal').on('hidden.bs.modal', function() {
  //     return false;
  //   });
  // $('#mymodal').on('hidden.bs.modal', function() {
  //     this.modal('show');
  //   });
  });
  
</script>

<div class="review_drawer" id="review_drawer">

</div>

<script>
</script>

<br><br>
<div class="row" style="padding-top:20px;">
  <div class="col-md-2 col-md-offset-1" style="border-right: 1px solid #BDBDBD;">
      <ul class="nav nav-stacked" id="list_deco">
          <li role="nav-header"><a href="/home/labreview"><b>시험장 전체보기</b></a></li>
          <%region.each do |region_code,region_name|%>
            <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#<%=region_code%>"><%=region_name%> <i class="glyphicon glyphicon-chevron-right"></i></a>
                <!--in은 페이지가 열렸을때 펼쳐졌는지 여부-->
                <ul class="nav nav-stacked collapse <%if params[:id] != nil && (@testcenter.where(:region_code=>region_code).include? @testcenter.find(params[:id])) %>in<%end%>" id="<%=region_code%>">
                  <%@testcenter.where(:region_code=>region_code).sort_by{|x| x[:name]}.each do |x|%>
                    <li role="presentation"><a href="/home/labreview/<%=x.id%>" style="padding-left:40px"><%=x.name%></a></li>
                  <%end%>
                </ul>
            </li>
          <%end%>
      </ul>
      <hr>  
  </div>
  <!--메인페이지인 경우-->
  <%if params[:id].nil?%>
    <div class="col-md-7">
      <p>전국 핫플레이스 TOP12</p>
      <form action="/home/labreview_write">
        <button type="submit" class="btn btn-default">후기 작성</button>
      </form>
      <div class="row" style="border-bottom: 1px solid #BDBDBD">
        <%@rank=1%>
        <%@testcenter.sort_by{|x| x[:avg_point]}.reverse.take(12).each do |y|%>
        <div class="col-md-3" style="margin-bottom:20px">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h4><%=@rank%>위</h4>
              <p><%=y.name%></p>
              <p>평점:<%=y.avg_point%></p>
              <a href="/home/labreview/<%=y.id%>">바로가기</a>
            </div>
          </div>
        </div>
        <%@rank+=1%>
        <%end%>
      </div><br><br>
      
    </div>
    <div class="col-md-2">
        
        <%region.each do |region_code,region_name|%>
        <p><%=region_name%> 순위</p>
        <div style="border-bottom: 1px solid #BDBDBD">
          <%@rank=1%>
          <%@testcenter.where(:region_code=>region_code).sort_by{|x| x[:avg_point]}.reverse.take(12).each do |y|%>
            <p><%=@rank%>위 : <%=y.name%>(<%=y.avg_point%>점) <a href="/home/labreview/<%=y.id%>">자세히 보기</a></p>
            
          <%@rank+=1%>
          <%end%>
        </div>
        <%end%>
    </div>
  
  
  
  
<!--각 학교별 페이지인경우-->
<%else%>
  <div class="col-md-6">     
        <%region.each do |region_code,region_name| %>
          <%if @testcenter.where(:region_code=>region_code).include? @testcenter.find(params[:id]) %>
            <h4><%=region_name%> 핫 플레이스</h4><br>
            <%@ranking=1%>
            <div class="row"> 
            <%@testcenter.where(:region_code => region_code).sort_by{|x| x[:avg_point]}.reverse.take(3).each do |y|%>
              <div class="col-md-4">
                <a href="/home/labreview/<%y.id%>" style="text-decoration:none; color:black;">
                  <div style="border:1px solid black; height:120px">
                    <div>
                      <h4><%=@ranking%>위</h4>
                      <p><%=y.name%></p>
                      <p>평점:<%=y.avg_point%></p>
                    </div>
                  </div>
                </a>
                <%@ranking+=1%>
              </div>   
            <%end%>
            </div>
          <%end%> 
        <%end%>
  </div>
    
   
 
</div>
<%end%>