<script>
  $(function() {
    document.getElementById('over_convert').innerHTML='<a href="/home/labreview" style="text-decoration:none; color:black;"><div class="convert2" id="convert2" style="box-shadow: inset 0px 0px 10px #8C8C8C;"><div class="nav_icon_review" id="review_menu" style="cursor:pointer;"><img src="https://cdn0.iconfinder.com/data/icons/layout-and-location/24/Untitled-2-21-24.png"><p style="padding-top: 5px; font-size:12px;"><b>REVIEW</b></p></div></div></a>'
  });  
</script>

<%region={"01"=>"서울/경기","02"=>"인천","03"=>"충청도","04"=>"경상도","05"=>"전라도","06"=>"강원도","07"=>"제주도"}%>
<br><br>
<div class="row">
  <div class="row" style="padding-top:40px;">
    <div class="col-md-2 col-md-offset-1" style="border-right: 1px solid #BDBDBD; height:1000px">
      <ul class="nav nav-stacked" id="list_deco">
          <li role="nav-header"><a href="/home/labreview"><b style="font-size:20px">시험장 전체보기</b></a></li>
          <br><br>
          <%region.each do |region_code,region_name|%>
            <li class="nav-header"> <a href="/home/region_main/<%=region_code%>" style="font-size:15px"><%=region_name%> <i class="glyphicon glyphicon-chevron-right"></i></a>
            </li>
             <hr>
          <%end%>
      </ul>
      <hr>  
  </div>
  
  <div class="col-md-7 col-md-offset-1">
    <form name="cf" onsubmit="return replaceBR();" action="/home/do_write">
      <div class="form-group">
          <center><h3><b>리뷰 작성하기</b></h3>
          <p class="help-block">고사장 후기를 작성해주세요</p></center><br>
          <label for="inputEmail3" class="col-md-2 control-label" style="text-align:left;">제목</label>
          <div class="col-md-10" style="margin-left: -10px">
            <input type="text" name="title" class="form-control" id="inputEmail3" placeholder="제목" required>
          </div>
          <br><br><br>
          <label class="col-md-2 control-label" style="text-align:left;">작성자</label>
          <div class="col-md-10"><%=current_user.nickname%></div>
      </div><br>
      <label class="col-md-2 control-label" style="text-align:left;">고사장</label>
      <div class="col-md-4">
        <%if params[:id].nil? %>
            <select id="select_region" style="width: 90%">
              <option value="none">지역</option>
              <option value="01">서울/경기</option>
              <option value="02">인천</option>
              <option value="03">충청도</option>
              <option value="04">경상도</option>
              <option value="05">전라도</option>
              <option value="06">강원도</option>
              <option value="07">제주도</option>
            </select>
            <div id="that"></div>
            </div>
            <div class="col-md-4">
            <select id="after_select" style="width: 90%">
              <option value="none">지역을 선택하세요</option>
            </select>    
            <p id="select_lab"></p>
        <%else%>
        <p class="form-control-static"><%=@testcenter.find(params[:id]).name%></p>
        <%end%>
      </div>
      <br><br><br><br><br>
      <div style="border-top:1px solid #BDBDBD;">
      
       
        
        <br><br>
        <p style="display:table;"><span style="display:table-cell;vertical-align:middle;font-size:20px;">위치</span>&nbsp;&nbsp;
        <span class="star-rating small" style="float:right">
          <input type="radio" name="location_rating" value="1"><i></i>
          <input type="radio" name="location_rating" value="2"><i></i>
          <input type="radio" name="location_rating" value="3"><i></i>
          <input type="radio" name="location_rating" value="4"><i></i>
          <input type="radio" name="location_rating" value="5"><i></i>
        </span></p>
        <textarea class="form-control" name="location_content" rows="3" placeholder="위치에 대한 평가" required></textarea>
      </div>
      <br><br>
      <p style="display:table;"><span style="display:table-cell;vertical-align:middle;font-size:20px;">시설</span>&nbsp;&nbsp;
        <span class="star-rating small" style="float:right">
        <input type="radio" name="facility_rating" value="1"><i></i>
        <input type="radio" name="facility_rating" value="2"><i></i>
        <input type="radio" name="facility_rating" value="3"><i></i>
        <input type="radio" name="facility_rating" value="4"><i></i>
        <input type="radio" name="facility_rating" value="5"><i></i>
      </span></p>
      <textarea class="form-control" name="facility_content" placeholder="시설에 대한 평가" rows="3" required></textarea>
      <br><br>
      <p style="display:table;"><span style="display:table-cell;vertical-align:middle;font-size:20px;">컴퓨터</span>&nbsp;&nbsp;
        <span class="star-rating small" style="float:right">
          <input type="radio" name="computer_rating" value="1"><i></i>
          <input type="radio" name="computer_rating" value="2"><i></i>
          <input type="radio" name="computer_rating" value="3"><i></i>
          <input type="radio" name="computer_rating" value="4"><i></i>
          <input type="radio" name="computer_rating" value="5"><i></i>
        </span></p>
      <textarea class="form-control" name="computer_content" placeholder="컴퓨터에 대한 평가"  rows="3" required></textarea>
      <br><br>
      <p style="font-size:20px;">총평</p>
      <textarea id="c" class="form-control" name="content" rows="10" placeholder="총평을 적어주세요" required></textarea>
      <%if params[:id].nil? %>
        <input id="final_choice" type="hidden" name="test_center_id" value="">
      <%else%>
        <input type="hidden" name="test_center_id" value="<%=@testcenter.find(params[:id]).id%>" required>
      <%end%>
      <br>
      <center style="margin-bottom:20px;">
        <button type="submit" class="btn btn-default">작성완료</button>
      </center>
      
    </form>

  </div>
  
</div>

<script>
  $(function() {
    $("#select_region").change(function() {
        var code = $(this).val();
        if(code=="01"){
        $("#after_select").html("<option value='not_selected'>고사장을 선택해주세요</option><%@testcenter.where(:region_code => "01").each do |x|%><option value='<%=x.id%>'><%=x.name%></option><%end%>");
        }
        if(code=="02"){
        $("#after_select").html("<option value='not_selected'>고사장을 선택해주세요</option><%@testcenter.where(:region_code => "02").each do |x|%><option value='<%=x.id%>'><%=x.name%></option><%end%>");  
        }
        if(code=="03"){
        $("#after_select").html("<option value='not_selected'>고사장을 선택해주세요</option><%@testcenter.where(:region_code => "03").each do |x|%><option value='<%=x.id%>'><%=x.name%></option><%end%>");  
        }
        if(code=="04"){
        $("#after_select").html("<option value='not_selected'>고사장을 선택해주세요</option><%@testcenter.where(:region_code => "04").each do |x|%><option value='<%=x.id%>'><%=x.name%></option><%end%>");  
        }
        if(code=="05"){
        $("#after_select").html("<option value='not_selected'>고사장을 선택해주세요</option><%@testcenter.where(:region_code => "05").each do |x|%><option value='<%=x.id%>'><%=x.name%></option><%end%>");  
        }
        if(code=="06"){
        $("#after_select").html("<option value='not_selected'>고사장을 선택해주세요</option><%@testcenter.where(:region_code => "06").each do |x|%><option value='<%=x.id%>'><%=x.name%></option><%end%>");  
        }
        if(code=="07"){
        $("#after_select").html("<option value='not_selected'>고사장을 선택해주세요</option><%@testcenter.where(:region_code => "07").each do |x|%><option value='<%=x.id%>'><%=x.name%></option><%end%>");  
        }
    });
    $("#after_select").change(function() {
        document.getElementById("final_choice").value= $(this).val();   
    });
  });
  
  // function replaceBR(){  
  // document.cf.c.value = document.cf.c.value.replace( /\n/g, '<br/>');
  // return true;
  
 

}

</script>
