<script>
$(".alert").addClass("in").fadeOut(4500);

/* swap open/close side menu icons */
$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-down");
}); 
</script>

<script>
  $(function() {
    document.getElementById('over_convert').innerHTML='<a href="/home/labreview" style="text-decoration:none; color:black;"><div class="convert2" id="convert2" style="box-shadow: inset 0px 0px 10px #8C8C8C;"><div class="nav_icon_review" id="review_menu" style="cursor:pointer;"><img src="https://cdn0.iconfinder.com/data/icons/layout-and-location/24/Untitled-2-21-24.png"><p style="padding-top: 5px; font-size:12px;"><b>REVIEW</b></p></div></div></a>'
  });
</script>

<div class="review_drawer" id="review_drawer">
</div>

<script>
</script>

<br><br>
<div class="row" style="padding-top:20px;">
  <div class="col-md-2 col-md-offset-1" style="border-right: 1px solid #BDBDBD;">
      <ul class="nav nav-stacked" id="list_deco">
          <li role="nav-header"><a href="/home/labreview"><b>시험장 전체보기</b></a></li>
          <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">서울/경기 <i class="glyphicon glyphicon-chevron-right"></i></a>
              <!--in은 페이지가 열렸을때 펼쳐졌는지 여부-->
              <ul class="nav nav-stacked collapse <%if params[:id] != nil && (@testcenter.where(:region_code=>"01").include? @testcenter.find(params[:id])) %>in<%end%>" id="userMenu">
                <%@testcenter.where(:region_code=>"01").each do |x|%>
                  <li role="presentation"><a href="/home/labreview/<%=x.id%>" style="padding-left:40px"><%=x.name%></a></li>
                <%end%>
              </ul>
          </li>
          <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2">인천<i class="glyphicon glyphicon-chevron-right"></i></a>
              <ul class="nav nav-stacked collapse <%if params[:id] != nil && (@testcenter.where(:region_code=>"02").include? @testcenter.find(params[:id])) %>in<%end%>" id="menu2">
                <%@testcenter.where(:region_code=>"02").each do |x|%>
                  <li role="presentation"><a href="/home/labreview/<%=x.id%>" style="padding-left:40px"><%=x.name%></a></li>
                <%end%>
              </ul>
          </li>
          <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu3">충청도<i class="glyphicon glyphicon-chevron-right"></i></a>
              <ul class="nav nav-stacked collapse <%if params[:id] != nil && (@testcenter.where(:region_code=>"03").include? @testcenter.find(params[:id])) %>in<%end%>" id="menu3">
                <%@testcenter.where(:region_code=>"03").each do |x|%>
                  <li role="presentation"><a href="/home/labreview/<%=x.id%>" style="padding-left:40px"><%=x.name%></a></li>
                <%end%>
              </ul>
          </li>
          <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu4">경상도 <i class="glyphicon glyphicon-chevron-right"></i></a>
              <ul class="nav nav-stacked collapse" id="menu4">
                  <li><a href="#">Information &amp; Stats</a>
                  </li>
                  <li><a href="#">Views</a>
                  </li>
                  <li><a href="#">Requests</a>
                  </li>
                  <li><a href="#">Timetable</a>
                  </li>
                  <li><a href="#">Alerts</a>
                  </li>
              </ul>
          </li>
          <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu5">전라도 <i class="glyphicon glyphicon-chevron-right"></i></a>
              <ul class="nav nav-stacked collapse" id="menu5">
                  <li><a href="#">Information &amp; Stats</a>
                  </li>
                  <li><a href="#">Views</a>
                  </li>
                  <li><a href="#">Requests</a>
                  </li>
                  <li><a href="#">Timetable</a>
                  </li>
                  <li><a href="#">Alerts</a>
                  </li>
              </ul>
          </li>
          <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu6">강원도<i class="glyphicon glyphicon-chevron-right"></i></a>
              <ul class="nav nav-stacked collapse" id="menu6">
                  <li><a href="#">Information &amp; Stats</a>
                  </li>
                  <li><a href="#">Views</a>
                  </li>
                  <li><a href="#">Requests</a>
                  </li>
                  <li><a href="#">Timetable</a>
                  </li>
                  <li><a href="#">Alerts</a>
                  </li>
              </ul>
          </li>
          <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu7">제주도<i class="glyphicon glyphicon-chevron-right"></i></a>
              <ul class="nav nav-stacked collapse" id="menu7">
                  <li><a href="#">Information &amp; Stats</a>
                  </li>
                  <li><a href="#">Views</a>
                  </li>
                  <li><a href="#">Requests</a>
                  </li>
                  <li><a href="#">Timetable</a>
                  </li>
                  <li><a href="#">Alerts</a>
                  </li>
              </ul>
          </li>
          <li style="height: 200px;">
          </li>
      </ul>
      <hr>  
  </div>
  <!--메인페이지인 경우-->
  <%if params[:id].nil?%>
    <div class="col-md-7">
      <p>전국 핫플레이스</p>
      <div class="row" style="border-bottom: 1px solid #BDBDBD">
        <%@testcenter.sort_by{|x| x[:avg_point]}.reverse.take(3).each do |y|%>
        <div class="col-md-4" style="margin-bottom:20px">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h4>1위</h4>
              <p><%=y.name%></p>
              <p>평점:<%=y.avg_point%></p>
            </div>
          </div>
        </div>
        <%end%>
      </div><br><br>
      
      <div class="row"> 
        <div class="col-md-12">
          <div class="input-group" style="width: 70%; margin:auto;">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">지역 <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">서울/경기</a></li>
                <li><a href="#">인천</a></li>
                <li><a href="#">충청도</a></li>
              </ul>
            </div>
            <!-- /btn-group -->
            <input type="text" class="form-control" aria-label="...">
          </div>
        </div>
        
      </div>      
      <p>전체보기</p>
      
      <div class="panel panel-default">
          <!-- Table -->
          <table class="table table-striped table-condensed">
              <col style="width:10%">
              <col style="width:20%">
              <col style="width:40%">
              <col style="width:10%">
              <col style="width:10%">
              <col style="width:10%">
            <thead>
              <tr>
                <th style="text-align:center">번호</th>
                <th style="text-align:center">고사장</th>
                <th style="text-align:center">제목</th>
                <th style="text-align:center">작성자</th>
                <th style="text-align:center">조회수</th>
                <th style="text-align:center">추천수</th>
              </tr>
            </thead>
            <tbody>
              <% @allarticle.reverse.each do |x|%>
              <tr data-toggle="modal" data-target="#<%=x.id%>">
                  <td style="text-align:center"><%=x.id%></td>
                  <td style="text-align:center"><%=x.testcenter%></td>
                  <td style="text-align:center"><%=x.title%></td>
                  <td style="text-align:center">김새봄</td>
                  <td style="text-align:center">100</td>
                  <td style="text-align:center">12</td>
              </tr>
              <div class="modal fade" id="<%=x.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <br><br>
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%=x.title%></h4><a>평점,조회수,추천수,작성시간 등등 </a>
                    </div>
                    <div class="modal-body">
                      <%=x.content%>
                      <form action="" method="POST" class="form-inline">
                        <input type="text" class="form-control" style="width:90%" placeholder="댓글달기">
                      <input type="submit" value="댓글달기">
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <%end%>
              
            </tbody>
          </table>
        </div>
        <form action="/home/labreview_write">
            <button type="submit" class="btn btn-default">후기 작성</button>
        </form>
    </div>
    
  </div>


<!--각 학교별 페이지인경우-->
<%else%>
<script>
  var center = new google.maps.LatLng(<%=@testcenter.find(params[:id]).position_lat%>, <%=@testcenter.find(params[:id]).position_lng%>);
  var mapProp;
  var marker;
  
  function labMap() {
    mapProp = {
      center: center,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map'), mapProp);
    pinmarker();
    addinfo(marker);
  }
  
  function pinmarker() {
    marker = new google.maps.Marker({
      map: map,
      position: center,
      title: '<%=@testcenter.find(params[:id]).name%>',
      address: '<%=@testcenter.find(params[:id]).address%>',
      animation: google.maps.Animation.DROP
    });
  }
  
  function addinfo(marker) {
    var info = new google.maps.InfoWindow({
      content: '<h3><%= @testcenter.find(params[:id]).name %></h3>'
              +'<p><%= @testcenter.find(params[:id]).address %></p>'
              +'<p id="detail" style="cursor:pointer; color:#6799FF;" onclick="newWindow()">Google 지도 보기</p>'
    });
    marker.addListener('mouseover', function() {
      info.open(marker.get('map'), marker);
    });
  }
  
  function newWindow() {
    var win = window.open('https://www.google.co.kr/maps/place/'
                          +'<%=@testcenter.find(params[:id]).address%>'
                          +'/@'
                          +'<%=@testcenter.find(params[:id]).position_lat%>'
                          +','
                          +'<%=@testcenter.find(params[:id]).position_lng%>'
                          +',17z?hl=ko');
    win.focus();
  }
  
  google.maps.event.addDomListener(window, 'load', labMap);
</script>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-8">
        <div id="map" style="width:400px; height:300px;"></div>
      
      </div>
      <%if params[:id] != nil && (@testcenter.where(:region_code=>"01").include? @testcenter.find(params[:id])) %>
          <div class="col-md-4">
            <p>서울/경기 핫 플레이스</p>
            <%@ranking=1%>
            <%@testcenter.where(:region_code => "01").sort_by{|x| x[:avg_point]}.reverse.take(3).each do |y|%>
            <div style="border:1px solid black;height:120px">
              <div>
                <h4><%=@ranking%>위</h4>
                <p><%=y.name%></p>
                <p>평점:<%=y.avg_point%></p>
                <p><a href="/home/labreview/<%=y.id%>">바로가기</a></p>
              </div>
            </div>
            <%@ranking+=1%>
            <%end%>
          </div>
          
      <%elsif params[:id] != nil && (@testcenter.where(:region_code=>"02").include? @testcenter.find(params[:id])) %>
          <p>인천 핫 플레이스</p>
          <%@testcenter.where(:region_code => "02").sort{|x| x.avg_point}.reverse.take(3).reverse.each do |y|%>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h4>1위</h4>
                <p><%=y.name%></p>
                <p>평점:<%=y.avg_point%></p>
                <p><a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <%end%>
      <%elsif params[:id] != nil && (@testcenter.where(:region_code=>"03").include? @testcenter.find(params[:id])) %>
          <p>충청도 핫 플레이스</p>
          <%@testcenter.where(:region_code => "03").sort{|x| x.avg_point}.reverse.take(3).reverse.each do |y|%>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h4>1위</h4>
                <p><%=y.name%></p>
                <p>평점:<%=y.avg_point%></p>
                <p><a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <%end%>
      <%end%>
    </div>
    
    <p><%=@testcenter.find(params[:id]).name%>게시판입니다</p>
    <div class="panel panel-default">
        <!-- Table -->
        <table class="table table-striped table-condensed">
            <col style="width:10%">
            <col style="width:20%">
            <col style="width:40%">
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:10%">
          <thead>
            <tr>
              <th style="text-align:center">번호</th>
              <th style="text-align:center">고사장</th>
              <th style="text-align:center">제목</th>
              <th style="text-align:center">작성자</th>
              <th style="text-align:center">평점</th>
              <th style="text-align:center">추천수</th>
            </tr>
          </thead>
          <tbody>
            <% @testcenter.find(params[:id]).articles.reverse.each do |x|%>
            <tr data-toggle="modal" data-target="#<%=x.id%>">
                <td style="text-align:center;cursor:pointer"><%=x.id%></td>
                <td style="text-align:center;cursor:pointer"><%=x.testcenter%></td>
                <td style="text-align:center"><%=x.title%></td>
                <td style="text-align:center">김새봄</td>
                <td style="text-align:center"><%=x.avg_point%></td>
                <td style="text-align:center">12</td>
            </tr>
            <div class="modal fade" id="<%=x.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <br><br>
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%=x.title%></h4><a>평점,조회수,추천수,작성시간 등등 </a>
                  </div>
                  <div class="modal-body">
                    <%=x.content%>
                    <form action="" method="POST" class="form-inline">
                      <input type="text" class="form-control" style="width:90%" placeholder="댓글달기">
                    <input type="submit" value="댓글달기">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <%end%>
            
          </tbody>
        </table>
      </div>
      <form action="/home/labreview_write/<%=@testcenter.find(params[:id]).id%>">
          <button type="submit" class="btn btn-primary">후기 작성</button>
      </form>
  </div>
 
</div>
<%end%>

