<%region={"01"=>"서울/경기","02"=>"인천","03"=>"충청도","04"=>"경상도","05"=>"전라도","06"=>"강원도","07"=>"제주도"}%>
<br><br>
<div class="row" style="padding-top:20px;">
  <div class="col-md-2 col-md-offset-1" style="border-right: 1px solid #BDBDBD; height:1000px">
      <ul class="nav nav-stacked" id="list_deco">
          <li role="nav-header"><a href="/home/labreview"><b style="font-size:20px">시험장 전체보기</b></a></li>
          <br><br>
          <%region.each do |region_code,region_name|%>
            <li class="nav-header"> <a href="/home/region_main/<%=region_code%>" style="font-size:15px"><%=region_name%> <i class="glyphicon glyphicon-chevron-right"></i></a>
            </li>
             <hr>
          <%end%>
      </ul>
      <hr>  
  </div>
  <div class="col-md-6">
    <div><p><strong>제목</strong> : <%=@article.title%></p></div>
    <div><p><strong>작성자</strong> : <%=@article.author%></p></div>
    <div><p><strong>고사장</strong> : <%=@article.testcenter%></p></div>
    <div class="row" style="border-bottom: 1px solid #BDBDBD">
        <div class="col-md-3" style="text-align:center ; border-right: 1px solid #BDBDBD;">
          <p>위치</p>
          <span class="star-rating smaller">
            <% for x in (1..5) do %>
              <% if (x ==@article.location_point.round(0)) %>
                <i class="on"></i>
              <% else %>
                <i></i>
              <% end %>
            <% end %>
          </span>
          <p><%=@article.location_point%>점</p>
        </div>
        <div class="col-md-9">
          <p><%=@article.location_content%></p>
        </div>
      </div>
        <div class="row" style="border-bottom: 1px solid #BDBDBD">
          <div class="col-md-3" style="text-align:center ; border-right: 1px solid #BDBDBD;">
            <p>시설</p>
            <span class="star-rating smaller">
              <% for x in (1..5) do %>
                <% if (x ==@article.facility_point.round(0)) %>
                  <i class="on"></i>
                <% else %>
                  <i></i>
                <% end %>
              <% end %>
            </span>
            <p>(<%=@article.facility_point%>)</p>
          </div>
        <div class="col-md-9">
          <p><%=@article.facility_content%></p>
        </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="text-align:center; border-right: 1px solid #BDBDBD;">
            <p>컴퓨터</p>
            <span class="star-rating smaller">
              <% for x in (1..5) do %>
                <% if (x ==@article.computer_point.round(0)) %>
                  <i class="on"></i>
                <% else %>
                  <i></i>
                <% end %>
              <% end %>
            </span>
            <p>(<%=@article.computer_point%>)</p>
          </div>
        <div class="col-md-9">
          <p><%=@article.computer_content%></p>
        </div>
      </div>
    <div style="min-height:500px; border:1px solid black">
      <%=@article.content%>
    </div>
    
    
    
    <div>
      <p>댓글</p>
      <%@article.replies.each do |y|%>
        <p> <%=y.author%>  |  <%=y.content%></p>
        
      <%end%>
    </div>
    <form action="/home/do_write_reply" method="POST" class="form-inline">
      <input type="hidden" name="article_id" value="<%=@article.id%>">
      <input type="text" name="reply_content" class="form-control" style="width:90%" placeholder="댓글달기">
    <input type="submit" value="댓글달기">
    </form>
    <%if @article.likes.exists?(:click_like_person => current_user.email) %>
        <p>이미 추천하셨습니다</p>
    <%else%>
        <form action="/home/do_like" method="POST">
            <input type="hidden" name="article_id" value="<%=@article.id%>">
            <input type="submit" value="좋아요!">
        </form>
    <%end%>
  </div>
</div>
</div>
<br><br><br><br><br>
