<div class="container" style="padding-top:60px;">
  <div style="width:100%; height:20px; display:table">
    <tr>
      <td style="">
        <div style="width:<%=@cal%>%; height:100%; background-color:green; display:table-cell;">
        </div>
      </td>
      <td style="">
        <div style="width:100%; height:100%; background-color:red; display table-cell;">
        </div>
      </td>
    </tr>
  </div>
  <div class="row">
    <div class="col-md-1">
      <center>
        <img id="happy" style="cursor:pointer;" src="/test/happy.png" />
        <h3><%= @db.plus_count %></h3>
      </center>
    </div>
    <div class="col-md-10">
      <center>
        <h2><%= @total %></h2>
      </center>
    </div>
    <div class="col-md-1">
      <center>
        <img id="sad" style="cursor:pointer;" src="/test/sad.png" />
        <h3><%= @db.minus_count %></h3>
      </center>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#happy').click(function() {
      var i = <%= @db.plus_count %>;
      
    });
    $('#sad').click(function() {
      var i = <%= @db.minus_count %>;
      
    });
  });
</script>