<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>TOmap</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="logo.jpg">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!--모달을 위한 코드-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- google map api script -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxbMZWBxFjGnTiZOMAeSIm6TFR4BvhFUM"></script>
  <!-- google geolcation api script -->
  <script src="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDxbMZWBxFjGnTiZOMAeSIm6TFR4BvhFUM"></script>
  <!-- google geometry library -->
  <!--<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>-->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="drawer" style="width:200px; height:100%; position:absolute; margin-top:6px; background-color:white; z-index:100000;">
    <div class="container" style="width:200px; padding-left:30px; padding-top:24px;">
      <div id="convertable">
        <a href='/' style="text-decoration:none; color:black;">
          <div id="map_button" style="cursor:pointer; margin-bottom:30px;">
            <p style="font-size:20px;">시험장 지도</p>
          </div>
        </a>
      </div>
        <div id="map_under" style="width:157px; padding-left:30px; margin-top:-20px; padding-bottom:8px; position:relative;">
          <p id="region_1" style="cursor:pointer;"> - 서울</p>
          <p id="current" style="cursor:pointer;"> - 현재 위치</p>
          <p id="near_by" style="cursor:pointer;"> - 가까운 시험장</p>
            <input id="region_1_lat" type="hidden" value=37.549565>
            <input id="region_1_lng" type="hidden" value=126.989131>
          <p id="direction0" style="font-size:17px; color:red; cursor:pointer;">길찾기 모드</p>
          <p id="direction1" style="font-size:17px; color:red; cursor:pointer;">길찾기 모드 --- 실행중...</p>
        </div>
      <a href="/home/labreviewmain/0" style="text-decoration:none; color:black;">
        <div id="labreview" style="cursor:pointer; margin-bottom:30px;">
          <p style="font-size:20px;">시험장 후기</p>
        </div>
      </a>
      <a href="/home/testreview" style="text-decoration:none; color:black;">
        <div id="testreview" style="cursor:pointer; margin-bottom:30px;">
          <p style="font-size:20px;">시험 후기</p>
        </div>
      </a>
    </div>
  </nav>
  
  <div id="exit_diretion_mode" style="position:absolute; width:48px; height:48px; background-image:url(/exit_icon.png);
                                      top:60px; left:10px; cursor:pointer; z-index:10000;">
  </div>
  <script>
    $(function() {
      $('#map_under').hide();
      $('#r_drawer').hide();
      $('#exit_diretion_mode').hide();
      $('#direction1').hide();
    });
  </script>
    
  <script>
    var lat;
    var lng;
    var region_center;
    var mode_index = 0;
    $(function() {
      $('#current').click(function() {
        region_center = undefined;
        secondCall(pos, 14);
        $('#drawer').toggle('slide', 0);
        $('#menu_close').hide();
        $('#menu_open').show();
      });
      $('#region_1').click(function() {
        lat = $('#region_1_lat').val();
        lng = $('#region_1_lng').val();
        region_center = new google.maps.LatLng(lat, lng);
        secondCall(region_center, 11);
        $('#drawer').toggle('slide', 0);
        $('#menu_close').hide();
        $('#menu_open').show();
      });
      $('#direction0').click(function() {
        mode_index = 1;
        $('#direction0').hide();
        $('#direction1').show();
        console.log('direction mode index'+':'+mode_index);
        $('#exit_diretion_mode').show();
        $('#drawer').toggle('slide', 0);
        $('#menu_close').hide();
        $('#menu_open').show();
      });
      $('#direction1').click(function() {
        mode_index = 0;
        $('#direction1').hide();
        $('#direction0').show();
        console.log('direction mode index'+':'+mode_index);
        $('#exit_diretion_mode').hide();
      });
      $('#exit_diretion_mode').click(function() {
        mode_index = 0;
        $('#direction1').hide();
        $('#direction0').show();
        console.log('direction mode index'+':'+mode_index);
        $('#exit_diretion_mode').hide();
        $('#drawer').toggle('slide', 300);
        $('#menu_open').hide();
        $('#menu_close').show();
      });
    });
  </script>
  
  <div class="navbar navbar-default navbar-fixed-top">
    <div id="menu_open" style="width:32px; height:32px; 
                               position: absolute; top: 8px; left: 15px;
                               cursor: pointer;
                               background-image: url(/icon_menu_open.png);"></div>
    <div id="menu_close" style="width:32px; height:32px;
                               position: absolute; top: 8px; left: 15px;
                               cursor: pointer;
                               background-image: url(/icon_menu_close.png);"></div>
    <script>
      $(function() {
        $('#drawer').hide();
        $('#menu_close').hide();
        $('#menu_open').click(function() {
          $('#drawer').toggle('slide','right', 300);
          $('#menu_open').hide();
          $('#menu_close').show();
        });
        $('#menu_close').click(function() {
          $('#drawer').toggle('slide', 300);
          $('#menu_close').hide();
          $('#menu_open').show();
        });
      });
    </script>
    
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><span style="color:red;"><b>TOmap</b></span></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li style="padding-left: 150px; padding-right:50px">
              <a href="/">시험장지도</a>
            </li>
            <li style="padding-right:50px">
              <a href="/home/labreviewmain/0">시험장후기</a>
            </li>
            <li style="padding-right:50px">
              <a href="/home/testreview">시험후기</a>
            </li>
            <li style="padding-right:50px">
              <a href="#">길찾기</a>
            </li>

          </ul>
               
          <ul class="nav navbar-nav navbar-right">
            
            <% if user_signed_in? %>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/home/mypage">마이페이지</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/users/sign_out">로그아웃</a></li>
                </ul>
              </li>


            <% else %>
              <li><a href="/users/sign_in">로그인</a></li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>

  <%= yield %>
</body>
</html>
